.container{
    margin-bottom: 100px;
}

.saya-bg{
    background-color: #fceae8;
}

.carousel-item{
    padding: 20px 40px;
}

.btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    border-radius: 5px;
    padding: 13px, 25px;
    color: #fff;
    cursor: pointer;
}
.price{
    color: #ff136f;
}

/* categori section*/

.watch{
    background-color: orange;
}
.bag{
    background-image: linear-gradient(90deg, rgb(11, 216, 216), cyan);
}
.shoe{
    background-image: linear-gradient(90deg, rgb(25, 177, 228), blue);
}