.container{
    margin-bottom: 100px;
}

.saya-bg{
    background-color: #fceae8;
}

.carousel-item{
    padding: 20px 40px;
}

.btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    border: none;
    border-radius: 5px;
    padding: 13px, 25px;
    color: #fff;
    cursor: pointer;
}
.price{
    color: #ff136f;
}

/* categori section*/

.watch{
    background-color: orange;
}
.bag{
    background-image: linear-gradient(90deg, rgb(11, 216, 216), cyan);
}
.shoe{
    background-image: linear-gradient(90deg, rgb(25, 177, 228), blue);
}
.categori h1{
    color: white;
}
.categori img{
    width: 100px;
}
.watch, .bag, .shoe{
    padding: 30px 0px;
    border-radius: 5px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
.contact .btn{
    margin-top: 10px;
}
.contact h6{
    color: lightslategray;
}
.footer p{
    text-align: center;
    margin-bottom: 25px;
    color: lightslategray;
}